<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission-group.HARDWARE_CONTROLS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
                     android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO "
        android:maxSdkVersion="33"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
                     android:maxSdkVersion="33"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Music"
        tools:targetApi="31">
        <activity
            android:name=".Light"
            android:exported="false" />
        <activity
            android:name=".Muplay"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Eoption"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Edit_profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Homepage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Musicpage"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>